doctype html
html
  head
    title= title || 'Population Reporting System'
    link(rel='stylesheet', href='/css/style.css')
  body
    header
      h1 Population Reporting System
      nav
        ul
          li: a(href='/') Home
          // Add more links if needed for other pages
    main
      block content
    footer
      p &copy; 2024 Population Reporting System
